restaurants.dtd

<!ELEMENT restaurantCatalogue (restaurants, regions, chains)>

<!ELEMENT restaurants (restaurant+)>
<!ELEMENT restaurant
    (name,
     categoryList,
     picture,
     address,
     phone?,
     website?,
     capacity,
     workingHours?,
     rating,
     priceCategory,
     description?,
     gallery?,
     services,
     menu)>

<!ATTLIST restaurant
    id ID #REQUIRED
    region IDREF #REQUIRED
    chain IDREF #IMPLIED>

<!ELEMENT categoryList (category+)>
<!ELEMENT category (#PCDATA)>

<!ELEMENT name (#PCDATA)>
<!ELEMENT address (#PCDATA)>
<!ELEMENT phone (#PCDATA)>
<!ELEMENT website (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT workingHours (#PCDATA)>

<!ELEMENT capacity (#PCDATA)>
<!ELEMENT rating (#PCDATA)>
<!ELEMENT priceCategory (#PCDATA)>

<!ELEMENT picture EMPTY>
<!ATTLIST picture
    source ENTITY #REQUIRED>

<!ELEMENT gallery (image+)>

<!ELEMENT image EMPTY>
<!ATTLIST image
    source ENTITY #REQUIRED>

<!ELEMENT services EMPTY>
<!ATTLIST services
    wifi CDATA #IMPLIED
    delivery CDATA #IMPLIED
    kidsArea CDATA #IMPLIED
    outdoorSeating CDATA #IMPLIED
    liveMusic CDATA #IMPLIED
    airConditioning CDATA #IMPLIED
    veganOptions CDATA #IMPLIED
    reservations CDATA #IMPLIED
    parking CDATA #IMPLIED>

<!ELEMENT menu (dish+)>

<!ELEMENT dish (name, price, ingredients?, alergens?, diet?)>

<!ELEMENT price (#PCDATA)>
<!ELEMENT ingredients (#PCDATA)>

<!ELEMENT alergens EMPTY>
<!ATTLIST alergens
    gluten CDATA #IMPLIED
    dairy CDATA #IMPLIED
    nuts CDATA #IMPLIED
    seafood CDATA #IMPLIED
    eggs CDATA #IMPLIED>

<!ELEMENT diet EMPTY>
<!ATTLIST diet
    vegan CDATA #IMPLIED
    vegetarian CDATA #IMPLIED
    lactoseFree CDATA #IMPLIED
    glutenFree CDATA #IMPLIED>


<!ELEMENT regions (region+)>

<!ELEMENT region (regionName, municipality, city)>
<!ATTLIST region
    id ID #REQUIRED>

<!ELEMENT regionName (#PCDATA)>
<!ELEMENT municipality (#PCDATA)>
<!ELEMENT city (#PCDATA)>


<!ELEMENT chains (chain*)>

<!ELEMENT chain (#PCDATA)>
<!ATTLIST chain
    id ID #REQUIRED>