schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="restaurantCatalogue">
        <xs:complexType>
            <xs:all>
                <xs:element name="restaurants" />
                <xs:element name="chains" />
                <xs:element name="regions" />
            </xs:all>
        </xs:complexType>
    </xs:element>
                
    <xs:element name="restaurants">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="restaurant" type="restaurantType" minOccurs="1" maxOccurs="unbounded">
                    <xs:key name="restaurantKey">
                        <xs:selector xpath="." />
                        <xs:field xpath="@id" />
                    </xs:key>
                    <xs:keyref name="restaurantRegionKeyRef" refer="regionKey">
                        <xs:selector xpath="restaurantCatalogue/restaurants/restaurant" />
                        <xs:field xpath="@region" />
                    </xs:keyref>
                    <xs:keyref name="restaurantChainKeyRef" refer="chainKey">
                        <xs:selector xpath="restaurantCatalogue/restaurants/restaurant" />
                        <xs:field xpath="@chain" />
                    </xs:keyref>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="restaurantType">
        <xs:sequence>
            <xs:element name="name" type="xs:string" />
            <xs:element name="categoryList" type="categoryListType" />
            <xs:element name="picture" type="pictureType" />
            <xs:element name="address" />
            <xs:element name="phone" type="xs:string" minOccurs="0" />
            <xs:element name="website" type="xs:string" minOccurs="0" />
            <xs:element name="capacity" type="xs:integer" />
            <xs:element name="workingHours" type="xs:string" minOccurs="0"/>
            <xs:element name="rating" type="float_0-10" />
            <xs:element name="priceCategory" type="priceCategoryType" />
            <xs:element name="description" type="shortString" minOccurs="0" />
            <xs:element name="gallery" minOccurs="0" />
            <xs:element name="services" type="servicesType" minOccurs="1"/>
            <xs:element name="menu" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required" />
        <xs:attribute name="region" type="xs:IDREF" use="required" />
        <xs:attribute name="chain" type="xs:IDREF" />
    </xs:complexType>

    <xs:complexType name="categoryListType">
        <xs:sequence>
            <xs:element name="category" type="restaurantCategory" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="restaurantCategory">
        <xs:restriction base="xs:string">
            <xs:enumeration value="fish" />
            <xs:enumeration value="vegan" />
            <xs:enumeration value="vegetarian" />
            <xs:enumeration value="asian" />
            <xs:enumeration value="italian" />
            <xs:enumeration value="bulgarian" />
             <xs:enumeration value="fastFood" />
             <xs:enumeration value="grill" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="pictureType">
        <xs:attribute name="source" type="xs:ENTITY" use="required" />
    </xs:complexType>

    <xs:element name="gallery">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="image" type="pictureType" minOccurs="1" maxOccurs="50" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="address" type="xs:string">
        <xs:unique name="restaurantUniqueAddress">
            <xs:selector xpath="." />
            <xs:field xpath="." />
        </xs:unique>
    </xs:element>

    <xs:simpleType name="priceCategoryType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="$" />
            <xs:enumeration value="$$" />
            <xs:enumeration value="$$$" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="servicesType">
        <xs:attribute name="wifi" type="xs:boolean" default="false" />
        <xs:attribute name="delivery" type="xs:boolean" default="false" />
        <xs:attribute name="kidsArea" type="xs:boolean" default="false" />
        <xs:attribute name="outdoorSeating" type="xs:boolean" default="false" />
        <xs:attribute name="liveMusic" type="xs:boolean" default="false" />
        <xs:attribute name="airConditioning" type="xs:boolean" default="false" />
        <xs:attribute name="veganOptions" type="xs:boolean" default="false" />
        <xs:attribute name="reservations" type="xs:boolean" default="false" />
        <xs:attribute name="parking" type="xs:boolean" default="false" />
    </xs:complexType>

    <xs:element name="menu">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="dish" type="dishType" minOccurs="1" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="dishType">
        <xs:sequence>
            <xs:element name="name" type="xs:string" />
            <xs:element name="price" type="xs:decimal" />
            <xs:element name="ingredients" type="xs:string" minOccurs="0" />
            <xs:element name="alergens" type="alergensType" minOccurs="0" />
            <xs:element name="diet" type="dietType" minOccurs="0" />
        </xs:sequence> 
    </xs:complexType>

    <xs:complexType name="alergensType">
        <xs:attribute name="gluten" type="xs:boolean" default="false" />
        <xs:attribute name="dairy" type="xs:boolean" default="false" />
        <xs:attribute name="nuts" type="xs:boolean" default="false" />
        <xs:attribute name="seafood" type="xs:boolean" default="false" />
        <xs:attribute name="eggs" type="xs:boolean" default="false" />
    </xs:complexType>

    <xs:complexType name="dietType">
        <xs:attribute name="vegan" type="xs:boolean" default="false" />
        <xs:attribute name="vegetarian" type="xs:boolean" default="false" />
        <xs:attribute name="lactoseFree" type="xs:boolean" default="false" />
        <xs:attribute name="glutenFree" type="xs:boolean" default="false" />
    </xs:complexType>

    <xs:element name="regions">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="region" type="regionType" minOccurs="1" maxOccurs="unbounded">
                <xs:key name="regionKey">
                    <xs:selector xpath="." />
                    <xs:field xpath="@id" />
                </xs:key>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
   </xs:element>

    <xs:complexType name="regionType">
        <xs:sequence>
            <xs:element name="regionName" type="nonEmptyString" />
            <xs:element name="municipality" type="nonEmptyString" />
            <xs:element name="city" type="nonEmptyString" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required" />
    </xs:complexType>

    <xs:element name="chains">
        <xs:complexType>
            <xs:all>
                <xs:element name="chain" type="chainType" minOccurs="0">
                    <xs:key name="chainKey">
                        <xs:selector xpath="." />
                        <xs:field xpath="@id" />
                    </xs:key>
                </xs:element>
            </xs:all>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="chainType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="id" type="xs:ID" use="required" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:simpleType name="nonEmptyString">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="shortString">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="1024" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="float_0-10">
        <xs:restriction base="xs:float">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="10" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="integer_1-100">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="1" />
            <xs:maxInclusive value="100" />
        </xs:restriction>
    </xs:simpleType>

</xs:schema>